<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link href="style.css" rel="stylesheet">
    </head>

    <body>
        
        <header>
            <div class="top">
                <div class="logo">
                    <a href="/"><img src="/assets/logo.png" alt="Foodfy"></a>
                </div>
                <div class="menu">
                    <a href="/about">Sobre</a>
                    <a href="/content">Receitas</a>
                </div>
            </div>
        </header>

        {% block content %}

        {% endblock %}         
        
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </footer>

    </body>
</html>