* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

header {
    background-color: #111111;
    width: 100%;
    box-sizing: border-box;
}

.page-header {
    height: 5rem;
    display: grid;
    align-items: center;
    margin: auto 14.45rem;
}