<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/chef.png" type="image/png">
        
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/header.css">
    {% block head %}
    
    {% endblock %}

</head>
<body>
    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="/"><img src="/images/logo.png" alt="logo-foodfy"></a>
                <div class="menu">
                    <a href="about">Sobre</a>
                    <a href="cookbook">Receitas</a>
                </div>
            </div>
        </header>
        {% block main %}
        
        {% endblock %}
    </div>
    <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

</body>
</html>