{% extends "site/layout.njk" %}
    
    {% block head %}
        <link rel="stylesheet" href="/styles/site/partials/cards.css">
        <link rel="stylesheet" href="/styles/site/partials/modal.css">

        <script src="/scripts/recipes.js" defer></script>
        <title>Foodfy | Livro de Receitas</title>
    {% endblock %}

    {% block main %}
        <main>
            <section class="mostAccessed">
                <div class="cards">
                    {% for item in items %}
                    <div class="card">
                        <div class="image">
                            <img src="{{item.image}}" alt="{{item.title}}">
                        </div>
                        <div class="content">
                            <h4 class="name">{{item.title}}</h4>
                            <p class="author">{{item.author}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% for item in items %}
                    <div class="card" id="{{item.id}}">
                        <div class="image">
                            <img src="{{item.image}}" alt="{{item.title}}">
                        </div>
                        <div class="content">
                            <h4 class="name">{{item.title}}</h4>
                            <p class="author">{{item.author}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </main>
    {% endblock %}