{% extends "site/layout.njk" %}
    
    {% block head %}
        <link rel="stylesheet" href="/styles/site/partials/home-page.css">
        <link rel="stylesheet" href="/styles/site/partials/cards.css">
        <link rel="stylesheet" href="/styles/site/partials/modal.css">

        <script src="/scripts/recipes.js" defer></script>

        <title>Foodfy | As Melhores Receitas</title>
    {% endblock %}
    
    {% block main %}
        <main>
            <section class="banner">
                <div class="info">
                    <div class="infotext">
                        <h1>As melhores receitas</h1>
                        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                    </div>
                    <img src="/images/chef.png" alt="Chefe">
                </div>
            </section>
            <section class="mostAccessed">
                <h1>Mais acessadas</h1>
                <div class="cards">
                    {% for item in items%}
                        <div class="card" id="{{item.id}}">
                            <div class="image">
                                <img src="{{item.image}}" alt="{{item.title}}">
                            </div>
                            <div class="content">
                                <h4 class="name">{{item.title}}</h4>
                                <p class="author">{{item.author}}</p>
                            </div>
                        </div>
                    {% endfor%}
                </div>
            </section>
        </main>
        <div class="modalRecipe">
            <div class="modal">
                <div class="modalContent">
                    <img src="" alt="">
                    <h4 class="name"></h4>
                    <p class= "author"></p>
                    <a class="closeModal">Fechar modal</a>
                </div>
            </div>
        </div>
    {% endblock %}
