<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <link rel="shortcut icon" href="/images/chef.png" type="image/png">
            <link rel="stylesheet" href="/styles/admin/main.css">
            
            {% block head %}
                <title>Foodfy | Admin</title>
            {% endblock %}
        
        </head>
        
        <body>
            <header>
                <div class="page-header">
                    <img src="/images/logo1.png" alt="">
                </div>
            </header>
            
            {% block main %}
        
            {% endblock %}
    
</body>
</html>