.modalRecipe {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: whitesmoke;
    width: 41.25rem;
    margin: 5vh auto;
    padding: 1.88rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}


.modalContent img {
    border-radius: 0.94rem;
    width: 37.5rem;
    margin-bottom: 1.25rem;
}

.modalContent h4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center;
    color: #111111;
    margin-bottom: 0.31rem;
}

.modalContent p {
    font-size: 1.13rem;
    line-height: 1.31rem;
    text-align: center;
    color: #777777;
    margin-bottom: 3.75rem;
}

.modalContent a {
    font-size: 1rem;
    line-height: 1.19rem;
    color: #999999;
    cursor: pointer;
}

.modalContent a:hover {
    font-weight: bold;
    transition: color 150ms;
}

.modalRecipe.active {
    opacity: 1;
    visibility: visible;
}